data/
dataJson/
elasticJava/.idea/
elasticsearch-6.0.0/
elasticJava/filterAccounts.json
elasticJava/target/classes/Entity/blogs/Tweet.class
elasticJava/target/classes/
singleProd/
hand on/.idea/
shop/.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
shop/.idea/
shop/target/
